<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <h3>欢迎您来到管理后台</h3>
    <p>登陆名：<strong>Admin</strong><br/>身　份：<strong>超级管理员</strong></p>
    <dl>
        <dt><span class="icon board"></span>文章</dt>
        <dd>
            <a href="index.php?p=Admin&c=Article&a=add">-&emsp;新增文章</a>
            <a href="index.php?p=Admin&c=Article&a=index">-&emsp;文章列表</a>
        </dd>
        <dt><span class="icon news"></span>分类</dt>
        <dd>
            <a href="index.php?p=Admin&c=Category&a=add">-&emsp;添加分类</a>
            <a href="index.php?p=Admin&c=Category&a=index">-&emsp;分类列表</a>
        </dd>
        <dt><span class="icon pro"></span>管理员</dt>
        <dd>
            <a href="index.php?p=Admin&c=Admin&a=add">-&emsp;新增管理员</a>
            <a href="index.php?p=Admin&c=Admin&a=index">-&emsp;管理员列表</a>
        </dd>
        <dt><span class="icon book"></span>评论</dt>
        <dd>
            <a href="index.php?p=Admin&c=Anonymous&a=index">-&emsp;评论列表</a>
        </dd>
        <dt><span class="icon book"></span>收藏</dt>
        <dd>
            <a href="index.php?p=Admin&c=Collection&a=index">-&emsp;收藏列表</a>
        </dd>
    </dl>
</nav>
</body>
</html>